<%- include("partials/header.ejs"); -%>

<div class="text-area">

    <h1>Home</h1>
    <p> <%= homeContent %> </p>

   

    <% posts.forEach(function(post) { %>
        <h1> <%= post.postTitle %> </h1> 
        <p> <%= post.postBody.split(" ").splice(0, 25).join(" ") %>...</p>
    <% }) %>
   
    
</div>

<%- include("partials/footer.ejs"); -%>

